[user]
	name = {{ .name | quote }}
	email = {{ .email | quote }}
[core]
	editor = \"C:\\Users\\adam\\AppData\\Local\\Programs\\Microsoft VS Code Insiders\\bin\\code-insiders\" --wait
[credential]
	helper = manager
